* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.speed{
    margin-top: 30px;
    font-size: 100px;
}

.speed-unit{
    font-size: 20px;
}

.time{
    font-size: 20px;
}

.active{
    font-weight: bold;
}

.gearbox{
    display: inline;
    font-size: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.divider{
    background-color: darkgray;
    margin: 25px;
    width: 90%;
    height: 1px;
}

.steering-div{
    margin-left: -7%;
}

.steering{
    width: 40px;
}

.lane-detection{
    padding-top: 150px;
}

